/* Global Styles */

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-body: freight-text-pro, serif;
    --ff-heading: neue-haas-grotesk-text, sans-serif;


    --fs-xl: clamp(3rem, 3vw + 1rem, 8rem);
    --fs-600:1.5rem;
    --fs-400: 1rem;
}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-200);
    line-height: 1.6;
}

body,
h1,
h2,
h3,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    line-height: 1.6;
}


h1 {
    font-size: var(--fs-xl);
    line-height: 1;
    font-family: var(--ff-heading);
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.1;
    font-weight: 500;
    /* temporary for show */
    margin-top: 6rem;
    color: red;
}

h2 {
    font-size: var(--fs-600);
    line-height: 1;
    font-family: var(--ff-heading);
    overflow-wrap: break-word;
    text-align: left;
    line-height: 1.2;
    font-weight: 500;
}

h3 {
    font-size: var(--fs-400);
    line-height: 1;
    font-family: var(--ff-heading);
    overflow-wrap: break-word;
    text-align: left;
    line-height: 1.2;
    font-weight: 500;

}

a {
    color: #444;
    font-weight: 700;
}

a:hover {
    color: blue;
}

article {
    margin: 0 auto;
}

.article-body {
    max-width: 70ch;
}

.default-box {
    height: auto;
    width: auto;
}



#header {
    width: 100%;
}


#footer {
    width: 100%;
}

/* Small devices (landscape phones, 36em (576px and up) */

@media (max-width: 36em) {
    .article-body {
        max-width: 90vw;
    }

}

/* Medium devices (tablets, 48em (768px and up) */

@media (max-width: 48em) {
        .article-body {
                max-width: 90vw;
            }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {

}